body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #ff7d00;
}

@media screen and (min-width: 1025px) {
  body {
    overflow-y: hidden;
  }
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #1266f1;
  border: 4px solid #e6e62e;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
